<%= link_to "Edit", task_edit_path(@task) %>

<h1><%= @task.title %></h1>
<p><%= @task.details %></p>
<% if(@task.completed) %>
  <input type="checkbox" name="task" value="@task.title" checked>This task is completed<br>
<% else %>
  <input type="checkbox" name="task" value="@task.title">This task is not completed yet<br>
<% end %>

<%= link_to "Back to list", tasks_path %>
